.one{
	background: #58FF33;
}
.card{
	border: 1px solid lightgray;
	width: 20rem;
	text-align: center;
	border-radius: 4px;
}
.left{ 
	width: 25%;
}
.right{
	border: 1px solid lightgray;
	width: 75%;
	margin-left: 1%;
}
.parent {
	display: flex;
}
